extends layouts/base

block content
  include mixins/feature_card
  section.pb-2.pb-lg-4
    .container.px-lg-3
      .row
        each feature in content.features
          - var image_width = 6;
          - if (feature.hasOwnProperty('image_width')) image_width = feature.image_width;
          - var id = null;
          - if (feature.hasOwnProperty('id')) id = feature.id;
          +feature_card(feature.title, feature.description, feature.images, id, image_width)
