extends layouts/base

block header
  // custom header block overwrites base layout header
  header.py-lg-5
    .container.px-lg-5
      img.float-start.w-25(
        src="assets/sme.svg",
        alt="Spatial Model Editor logo"
      )
      .p-1.p-lg-5.rounded-3.text-center
        .m-4.m-lg-2
          h1.display-5.fw-bold #{ content.page_title }
          p.fs-4 #{ content.page_blurb }

block content
  include mixins/index_card
  section.pt-4
    .container.px-lg-5
      .row.gx-lg-5
        each card, index in content.cards
          if index == 1
            +index_card_downloads
          +index_card(card.title, card.icon, card.links)
