extends layouts/base

block vars
  - var page_title = 'GUI Screenshots';
  - var page_url = 'screenshots.html';

block content
  // list of screenshot image files to display
  -
    var screenshots = [
      "geometry0.png",
      "geometry1.png",
      "geometry2.png",
      "species0.png",
      "species1.png",
      "species2.png",
      "reactions.png",
      "simulation.png"
    ];

  include mixins/image_carousel
  section.pt-4
    .container.px-lg-5
      +image_carousel(screenshots)
