extends layouts/base

block content
  - var screenshot_dir = 'screenshots';
  - var screenshot_files = fs.readdirSync(basedir + '/assets/' + screenshot_dir);

  include mixins/image_carousel
  section.pt-4
    .container.px-lg-5
      +image_carousel(screenshot_dir, screenshot_files, "Screenshots", true)
