---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for name, url in navbar.pages %}
  <url>
    <loc>https://spatial-model-editor.github.io/{{ url }}</loc>
  </url>
  {% endfor %}
</urlset>
