// Import Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Override Bootstrap variables
$enable-negative-margins: true;

// Import selected Bootstrap SCSS
// (alternatively could just import everything: @import "~bootstrap/scss/bootstrap";)
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

// Custom SCSS for feature component with Bootstrap icon
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

// sme logo link colours
a {
  color: #5d00c5;
}
a:hover {
  color: #c126f8;
}

// only display carousel position indicators on mouseover
.carousel .carousel-indicators {
  visibility: hidden;
}
.carousel .carousel-control-prev {
  visibility: hidden;
}
.carousel .carousel-control-next {
  visibility: hidden;
}

.carousel:hover .carousel-indicators {
  visibility: visible;
}
.carousel:hover .carousel-control-prev {
  visibility: visible;
}
.carousel:hover .carousel-control-next {
  visibility: visible;
}

// add partially opaque background to carousel control buttons
.carousel .carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.3);
}
