// Import Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Override Bootstrap variables
$enable-negative-margins: true;

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// Custom SCSS for feature component with Bootstrap icon
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

// sme logo link colours
a {
  color: #5d00c5;
  text-decoration: none;
}
a:hover {
  color: #c126f8;
  text-decoration: none;
}
// white for icons
.iconlink a {
  color: #ffffff;
  text-decoration: none;
}
.iconlink a:hover {
  color: #5d00c5;
  text-decoration: none;
}
.simplelink a {
  color: #000000;
  text-decoration: none;
}
.simplelink a:hover {
  color: #5d00c5;
  text-decoration: none;
}

// only display carousel position indicators on mouseover
.carousel .carousel-indicators {
  visibility: hidden;
}
.carousel .carousel-control-prev {
  visibility: hidden;
}
.carousel .carousel-control-next {
  visibility: hidden;
}

.carousel:hover .carousel-indicators {
  visibility: visible;
}
.carousel:hover .carousel-control-prev {
  visibility: visible;
}
.carousel:hover .carousel-control-next {
  visibility: visible;
}

// add partially opaque background to carousel control buttons
.carousel .carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.3);
}
