// Import Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Override Bootstrap variables
$enable-negative-margins: true;

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap";

// Custom SCSS for feature component with Bootstrap icon
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

// Custom SCSS for sme logo link colours
a {
  color: #5d00c5;
}
a:hover {
  color: #c126f8;
}
